<tr>
	<th><%= job.title %></td> 
  <td>Location, Area</td>
  <td>$150-$180</td> 
  <% if job.user == current_user %>
  	<td>
			<%= link_to "Edit", edit_job_path(job) %> - <%= link_to "Delete", job, :method => :delete, :class=> :destroy %>
		</td>
	<% elsif current_user.role == 'provider' %>
		<td class="hidden-phone">
			<%= link_to "Bid on it!", job %>
		</td>
	<% end %>
<tr>