<tr>
  <td><%= job.category %></td>
  <td><%= link_to job.title, job %></td>
  <td><%= link_to job.user.username, job.user %></td> 
  <td><%= link_to "Delete", job_path(job), :method=>:delete  %></td>
<tr>