<section class="job-board">
  <section class="row">
    <article class="span12">
      <h3>Job Board</h3>
    </article>
  </section>
          
  <section class="row">
    <article class="span12">
      <div class="job-postings">
        <table>
          <%= render @jobs %>
        </table>
      </div>
    </article>
  </section>
</section>