<%= form_tag jobs_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<h3>Viewing all jobs:</h3>
<table>
  <thead>
     <tr>
      <th>Category</th>
      <th>Title</th>
      <th>User</th>
     <tr>
  </thead>
  <tbody>
  	<%= render @jobs  %>
  </tbody>
<table>