<%= form_tag jobs_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<h3>Viewing all jobs:</h3>
<table>
  <thead>
     <tr>
      <th>Category</th>
      <th>Title</th>
      <th>User</th>
     <tr>
  </thead>
  <tbody>
  	<%= render @jobs  %>
  </tbody>
<table>

<section class="job-board">
            <section class="row">

            <article class="span12">
                <h3>Job Board</h3>
            </article>

            </section>
            <section class="row">
                  
          
          </section>
         
          
            <section class="row">

            <article class="span12">
              <div class="job-postings">
          <table>
            <tr>
              <th>Jobs in your field - Plumber</th>
              <th>Location</th>
              <th>Budget</th>
            </tr>
            <tr>
              <th>Sink fixing</th>
              <td>Ladner, BC</td>
              <td>$150-$170</td>                              
              <td class="hidden-phone"><a href="#">Bid on it!</a></td>
            </tr>
            <tr class="visible-phone">
              <td><a href="#">Bid on it!</a></td>             
            </tr>
            
            <tr>
              <th>
              Leaking kitchen sink
              </th>
              <td>Victoria, BC</td>
              <td>$200-$250</td>

              <td class="hidden-phone"><a href="#">Bid on it!</a></td>
            </tr>
            <tr class="visible-phone">
              <td><a href="#">Bid on it!</a></td>             
            </tr>
            
            
            <tr>
              <th>
              Bathtub installation
                
              </th>
              <td>Vancouver, BC</td>
              <td>$300-$400</td>

              <td class="hidden-phone"><a href="#">Bid on it!</a></td>
            </tr>
            <tr class="visible-phone">
              <td><a href="#">Bid on it!</a></td>             
            </tr>
            <tr>
              <th>
              Hot water heater needs replacing   
                
              </th>
              <td>Port Moody, BC</td>
              <td>$90-$100</td>

              <td class="hidden-phone"><a href="#">Bid on it!</a></td>
            </tr>
            <tr class="visible-phone">
              <td><a href="#">Bid on it!</a></td>             
            </tr>

          </table>

              </div>
          
            </article>

   