<section class="job-board">
  <section class="row">
    <article class="span12">
      <h3>Job Board</h3>
    </article>
  </section>
          
  <section class="row">
    <article class="span12">
      <div class="job-postings">
        <table>
          <tr>
            <th>Jobs in your field - <%= current_user.contractor_type %></th>
            <th>Location</th>
            <th>Budget</th>
          </tr>
          <%= render @jobs %>
        </table>
      </div>
    </article>
  </section>
</section>