<section class="job-profiles">
	<section class="row">
		<article class="span3">
		  <h2>Pros in <%= current_user.state %></h2>
		</article>

		<article class="span9">
		  <div class="search-filters">
		    <span>Narrow down search</span>
		    <span class='menu-arrow'></span>
		    <div class="filters">
				  <ul>
					  <li><a href="#">Filter 1</a></li>
					  <li><a href="#">Filter 2</a></li>
					  <li><a href="#">Filter 3</a></li>
				  </ul>
		    </div>
		  </div>
		</article>
	</section>		    
	<%= render @users %>
</section>