<section class="main-bg">
	<section class="container">
		<section class="row call-to-actions">
			<a class="call-to-action" href="#">
				<section class="span5">
					<article>
						<h2>Service Provider</h2>
					</article>
				</section>
			</a>
			<a class="call-to-action" href="#">
				<section class="span5 offset2">
					<article>
						<h2 class="">Service Seeker</h2>
					</article>
				</section>
			</a>
		</section>
	</section>
	<%= image_tag "splash-background-image.jpg", :class=>"bg" %>
</section>