<section class="blue-back membership">
	<section class="container">
		<section class="row">
			<article class="span12">			        	
				<h1>Which membership is your tool of choice?</h1>
			</article>
			
			<article class="span4">
		    <div class="plan-handler">
			    <div class="img-handler">
			      <div><%= image_tag "pocket-saw.png" %></div>
			    </div>
			    <h2>Pocket Saw</h2>
					<p>
					Lorem ipsum dolor sit 
					amet, consectetur 
					adipiscing elit. Done
					cviverra, ante et iaculis 
					faucibus, purus dui pla
					cerat nibh, at vulputate 
					odio odio at nisi. Proin eu 
					commodo augue. Etiam ve
					ipsum et nisi ultrice lobo.
					Curabitur mi diam, la
					imperdiet elementum
					ut, vehicula quis turpis
					</p>
					<a href="#">Join</a> 
					<span class="cost">Free!</span>
		    </div>
	    </article>
		  
		  <article class="span4">
		    <div class="plan-handler">
			    <div class="img-handler">
			      <div><%= image_tag "hand-saw.png" %></div>
			    </div>
			    <h2>Hand Saw</h2>
					<p>
					Lorem ipsum dolor sit 
					amet, consectetur 
					adipiscing elit. Done
					cviverra, ante et iaculis 
					faucibus, purus dui pla
					cerat nibh, at vulputate 
					odio odio at nisi. Proin eu 
					commodo augue. Etiam ve
					ipsum et nisi ultrice lobo.
					Curabitur mi diam, la
					imperdiet elementum
					ut, vehicula quis turpis
					</p>
					<a href="#">Join</a> 
					<span class="cost">$29</span>
		    </div>
	    </article>
			
			<article class="span4">
		    <div class="plan-handler">
			    <div class="img-handler">
			      <div><%= image_tag "chain-saw.png" %></div>
			    </div>
			    <h2>Chain Saw</h2>
					<p>
					Lorem ipsum dolor sit 
					amet, consectetur 
					adipiscing elit. Done
					cviverra, ante et iaculis 
					faucibus, purus dui pla
					cerat nibh, at vulputate 
					odio odio at nisi. Proin eu 
					commodo augue. Etiam ve
					ipsum et nisi ultrice lobo.
					Curabitur mi diam, la
					imperdiet elementum
					ut, vehicula quis turpis
					</p>
					<a href="#">Join</a> 			
					<span class="cost">$99</span>
		    </div>
	    </article>
		</section>
	</section>
</section>