<article class="row-fluid">
	<article class="span3">
		<%= image_tag pastwork.photo.url(:rectangle) %>        	
	</article>
	<article class="span9">
		<h4><%= pastwork.title %></h4>
		<p><%= pastwork.content %></p>
	</article>
</article>